tensorflow==2.3.0
tensorflow-gpu==2.3.0

# kubeflow packages
kfp
kfp-server-api
kfserving

jupyter
numpy
matplotlib
opencv-python
pandas
pandarallel
Pillow
seaborn
scikit-image
scikit-learn
xmltodict


# common packages
bokeh
cloudpickle
dill
ipympl
ipywidgets
jupyterlab-git
matplotlib
pandas
scikit-image
scikit-learn
scipy
seaborn
xgboost

tqdm
tensorboard